{% extends 'MSMEOrderingWebApp/customer_base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <h2>CART</h2>

    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <!-- Product rows will go here -->
    </table>

    <br>
    <h3>Subtotal: </h3>

    <a href="{% url 'customer_checkout' %}">
        <button type="button">PROCEED</button>
    </a>
{% endblock %}
