{% extends 'MSMEOrderingWebApp/business_owner_base.html' %}

{% block title %}Delivery{% endblock %}

{% block content %}
    <h2>DELIVERY</h2>

    <!-- Delivery Table -->
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date and Time</th>
                <th>Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Delivery rows will go here -->
        </tbody>
    </table>
{% endblock %}
